<link rel="import" href="../app-common-behavior/app-common-behavior.html">
<link rel="import" href="../elements.html">
<dom-module id="app-shell">

    <template>

        <style>
            :host {
                @apply(--layout-fit);
                display: block;
                overflow: visible;
                text-align: left;
            }
        </style>

        <mat-drawer-panel id='shell'>
            <mat-drawer target='content' break-point='800'>
                <mat-list>
                    <mat-item>Welcome</mat-item>
                </mat-list>
            </mat-drawer>
            <mat-header-panel id='content'>
                <mat-header z="4" background="blue-grey-800"><h1>Magic Canvas</h1></mat-header>
                <mat-content id="main">
                </mat-content>
            </mat-header-panel>
        </mat-drawer-panel>

    </template>

    <script>
        Polymer({

            // ELEMENT
            is: 'app-shell',

            // BEHAVIORS
            behaviors: [
                Polymer.AppCommonBehavior
            ]
        });
    </script>

</dom-module>
